[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/z"]
	path = zsh/z
	url = https://github.com/rupa/z.git
[submodule "nvim/pack/github/start/coc.nvim"]
	path = nvim/pack/github/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "nvim/pack/github/start/vim-snippets"]
	path = nvim/pack/github/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
