[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "nvim/pack/plugin/start/coc.nvim"]
	path = nvim/pack/plugin/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "nvim/pack/plugin/start/vim-snippets"]
	path = nvim/pack/plugin/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
